# e2e
TEST_DATABASE_URL=postgresql://localhost:5432/postgres
E2E_STRIPE_SK=
E2E_STRIPE_WHSEC=

# web
RESEND_API_KEY=

# demo
APP_URL=http://localhost:3000
BETTER_AUTH_SECRET=
AUTH_DATABASE_URL=
PAYKIT_DATABASE_URL=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
AUTUMN_SECRET_KEY=
